body::before {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: url("/assets/mar.png") repeat;
    background-size: 600px auto;

    animation: oceanMove 40s linear infinite;
    z-index: -2;
}

/* Oscurecido estilo cinematográfico */
body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at center, rgba(0,0,0,0.2) 40%, rgba(0,0,0,0.85) 100%);
    z-index: -1;
}

/* Movimiento suave diagonal */
@keyframes oceanMove {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-600px, -400px);
    }
}
/* ===== MENU FUTURISTA ESTILO HUD ===== */

.menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;

    padding: 40px 35px;
    border-radius: 10px;

    background: rgba(5, 20, 40, 0.75);
    backdrop-filter: blur(8px);

    border: 2px solid rgba(0,255,255,0.7);
    box-shadow:
        0 0 15px rgba(0,255,255,0.8),
        inset 0 0 15px rgba(0,255,255,0.3);

    color: #7ef9ff;
}

/* Esquinas tipo marco HUD */
.menu-container::before,
.menu-container::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid #00f7ff;
}

.menu-container::before {
    top: -15px;
    left: -15px;
    border-right: none;
    border-bottom: none;
}

.menu-container::after {
    bottom: -15px;
    right: -15px;
    border-left: none;
    border-top: none;
}

.menu-container h1 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 28px;
    letter-spacing: 2px;

    color: #7ef9ff;
    text-shadow:
        0 0 8px #00f7ff,
        0 0 20px #00f7ff;
}

/* ===== BOTONES ===== */

.menu-btn {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;

    background: transparent;
    border: 2px solid rgba(0,180,255,0.7);
    border-radius: 4px;

    color: #7ef9ff;
    font-size: 16px;
    letter-spacing: 1px;

    cursor: pointer;
    transition: all 0.25s ease;
}

/* Hover neon rosa (como el primero de la imagen) */
.menu-btn:hover {
    border-color: #005eff;
    color: #ffffff;
    box-shadow:
        0 0 10px #0059ff,
        0 0 25px rgba(0, 89, 255, 0.6);
    transform: scale(1.03);
}

/* Botón música */
#musicToggleBtn {
    display: inline-block;
    width: 48%;
}

/* Botón logout rojo */
#logoutBtn {
    width: 48%;
    float: right;

    border-color: rgba(255,50,50,0.8);
    color: #ff8080;
}

#logoutBtn:hover {
    border-color: #ff0000
}